<%- model_class = Basket -%>

<% if notice %>
    <p id="notice"><%= notice %></p>
<% end %>


<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>
<div class="container col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
<% if @basket.line_items.length < 1 %>
    <h3> Your basket is empty</h3>
<%else%>
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Item</th>
        <th>Quantity</th>
        <th>Price</th>
      </tr>
      </thead>
      <%= render(@basket.line_items) %>
      <tr class="total_row">
        <td colspan="2">Total</td>
        <td class = "basket_total"><%= number_to_currency(@basket.total_price) %></td>
        <td> <%= button_to 'Empty basket', @basket, method: :delete,
                          data: { confirm: 'Are you sure?' }, class:'btn btn-default' %></td>
      </tr>

    </table>

    <%= link_to 'Go to checkout', new_order_path,id:'go_checkout', class:'btn btn-default' %>

<%end%>
  <%= link_to 'Back to wines' ,wines_url, class:'btn btn-default'%>
</div>





