<%- model_class = Basket -%>

<% if notice %>
    <p id="notice"><%= notice %></p>
<% end %>


<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>
<% if @basket.line_items.length < 1 %>
    <h3> Your basket is empty</h3>
<%else%>
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Item</th>
        <th>Quantity</th>
        <th>Price</th>
      </tr>
      </thead>
      <%= render(@basket.line_items) %>
      <tr class="total_row">
        <td colspan="2">Total</td>
        <td class = "basket_total"><%= number_to_currency(@basket.total_price) %></td>
      </tr>

    </table>
    <%= button_to 'Empty basket', @basket, method: :delete,
                  data: { confirm: 'Are you sure?' }, class:'btn btn-default' %>
    <%= link_to 'Go to checkout', new_order_path, class:'btn btn-default' %>
<%end%>




<%= link_to 'Back to wines' ,wines_url, class:'btn btn-default'%>

