
<tr id="<%= line_item.wine.name %>">
  <td class="line_item_name"> <%= line_item.wine.name %></td>
  <td class="line_item_quantity"> <%=line_item.quantity %></td>
  <td class="line_item_price" ><%= number_to_currency(line_item.total_price) %></td>
  <td ><%= button_to 'Remove Item', line_item, method: :delete,
                     data: { confirm: 'Are you sure?' } ,
                     id:"remove_#{line_item.wine.name}",
                     class:'btn btn-default remove_wine' %></td>
</tr>
