<%- model_class = Wine -%>
<% if notice %>
    <p id="notice"><%= notice %></p>
<% end %>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>

</div>

<% if @wines.present? %>

<table  class="table wine-table table-striped">
  <thead>
  <tr>
    <th><%= model_class.human_attribute_name(:name) %></th>
    <th><%= model_class.human_attribute_name(:short_description) %></th>
    <th><%= model_class.human_attribute_name(:price) %></th>
    <th><%= model_class.human_attribute_name(:supplier_company) %></th>
    <th><%= model_class.human_attribute_name(:bottle_size) %></th>

  </tr>
  </thead>
  <tbody class="wine-table">
  <% @wines.each do |wine| %>

      <%
         if wine.pic_url == '' || wine.pic_url == nil
           image_reference =  'placeholder_bottle.png'
         else
           image_reference = wine.pic_url
         end
      %>

      <tr class="wine" id="<%= wine.name %>" data-link="<%= wine_path(wine) %>">
        <td class="name" ><%= wine.name %></td>
        <td class="short_desc"><%=h truncate(wine.short_description, :length => 50) %></td>
        <td class="price"><%= wine.price %></td>
        <td><%= wine.supplier.name %></td>
        <td><%= wine.bottle_size %></td>
        <td><%= link_to image_tag(image_reference), wine_path(wine), class:'wine_image' %></td>

      </tr>
  <% end %>
  </tbody>
</table>

<% else %>
    <p> No wines to display, search with different criteria or contact an administrator. </p>
<% end %>

<div class="digg_pagination">
  <div>
    <%= page_entries_info @wines %>
  </div>
  <%= will_paginate @wines, container: false %>
</div>
<br/>
