<%- model_class = Wine -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table  class="table wine-table table-striped">
  <thead>
  <tr>
    <th><%= model_class.human_attribute_name(:name) %></th>
    <th><%= model_class.human_attribute_name(:short_description) %></th>
    <th><%= model_class.human_attribute_name(:price) %></th>
    <th><%= model_class.human_attribute_name(:supplier_company) %></th>
    <th><%= model_class.human_attribute_name(:bottle_size) %></th>
    <th><%= model_class.human_attribute_name(:pic_url) %></th>
  </tr>
  </thead>
  <tbody>
  <% @wines.each do |wine| %>

      <%
         if wine.pic_url == '' || wine.pic_url == nil
           image_reference =  'placeholder_bottle.png'
         else
           image_reference = wine.pic_url
         end
      %>

      <tr class="wine" data-link="<%= wine_path(wine) %>">
        <td><%= wine.name %></td>
        <td><%=h truncate(wine.short_description, :length => 50) %></td>
        <td><%= wine.price %></td>
        <td><%= wine.supplier.name %></td>
        <td><%= wine.bottle_size %></td>
        <!--<td><%= wine.pic_url %></td>-->
        <!--http://stackoverflow.com/questions/2115214/link-to-image-tag-how-to-add-class-to-a-tag-->
        <td><%= link_to image_tag(image_reference), wine_path(wine) %></td>

      </tr>
  <% end %>
  </tbody>
</table>

<div class="digg_pagination">
  <div>
    <%= page_entries_info @wines %>
  </div>
  <%= will_paginate @wines, container: false %>
</div>
<br/>
