<%- model_class = Wine -%>

<%

   if @wine.pic_url == '' || @wine.pic_url == nil
     image_reference =  'placeholder_bottle.png'
   else
     image_reference = @wine.pic_url
   end


%>

<% if notice %>
    <p id="notice"><%= notice %></p>
<% end %>

<div class="page-header">
  <h1><%= @wine.name %></h1>
</div>

<dl class="dl-horizontal">

  <!--<dt><strong><%= model_class.human_attribute_name(:pic_url) %>:</strong></dt>-->
  <dd><%= image_tag(image_reference) %></dd>

  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @wine.name %></dd>

  <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
  <dd><%= @wine.description %></dd>

  <dt><strong><%= model_class.human_attribute_name(:short_description) %>:</strong></dt>
  <dd><%= @wine.short_description %></dd>

  <dt><strong><%= model_class.human_attribute_name(:country_of_origin) %>:</strong></dt>
  <dd><%= @wine.country_of_origin %></dd>

  <dt><strong><%= model_class.human_attribute_name(:grape_type) %>:</strong></dt>
  <dd><%= @wine.grape_type %></dd>

  <dt><strong><%= model_class.human_attribute_name(:vegetarian) %>:</strong></dt>
  <dd><%= @wine.vegetarian %></dd>

  <dt><strong><%= model_class.human_attribute_name(:price) %>:</strong></dt>
  <dd><%= @wine.price %></dd>

  <dt><strong><%= model_class.human_attribute_name(:supplier_company) %>:</strong></dt>
  <dd><%= @wine.supplier.name %></dd>

  <dt><strong><%= model_class.human_attribute_name(:product_number) %>:</strong></dt>
  <dd><%= @wine.product_number %></dd>

  <dt><strong><%= model_class.human_attribute_name(:bottle_size) %>:</strong></dt>
  <dd><%= @wine.bottle_size %></dd>



</dl>
<%= form_tag line_items_path(wine_id: @wine) do %>
    <%= number_field_tag :quantity,  params[:quantity], min:1, max:999, :value => 1 %>
    <%= submit_tag 'Add to basket' %>
<% end %>


