<!DOCTYPE html>
<html>
<head>
  <title>Sig 2 Comparisons</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="topBar" class="container">
  <h2> testing the top area -  login partial + ajax the basket
  </h2>
  <div id="topBasket"<%= render @basket %></div>
</div>
<div id="content" class="container">
<%= yield %>
</div>
</body>
</html>
