<!DOCTYPE html>
<html>
<head>
  <title>Sig 2 Comparisons</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="topBar" class="container">
  <div class="row">
    <div  class="col-md-8" style="{float:left;}">
      <h1>Sig2 Wine Comparison!</h1>
    </div>
    <span id="login" class="pull-right top-bar">
      <% if is_logged_in? %>
      <p>LOGGED IN </p>
          <%= link_to 'Log out', logout_path, class:'btn btn-default'%>
          <% else %>
      <p>Not logged in</p>
          <%= link_to 'Log in', login_path, class:'btn btn-default'%>
          <% end %>
    </span>
    <span id="miniBasket" class="pull-right top-bar" <%= render @basket %> </span>
  </div>
</div>
<div id="content" class="container">
  <%= yield %>
</div>
</body>
</html>
